body {
    font-size: 18px;
}
.button {
    padding-left: 0.4em;
    padding-right: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.5em;
    border: 1px solid lightgray;
    border-bottom: lightgray solid 3px;
    border-right: lightgray  solid 3px;
}
.button:hover {
    padding-left: 0.4em;
    padding-right: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.5em;
    border: 1px solid gray;
    border-bottom: gray solid 3px;
    border-right: gray  solid 3px;
}
.button input {
    visibility: hidden;
    display: none;
}
.form_ul li{
    line-height: 2em;
}
